<style media="screen">
  .style {
    position: absolute;
  }

  .topmargin {
    margin-top: 60px;
  }

  .btmmargin {
    margin-bottom: 30px;
  }

  .maincolor {
    color: #506a85;
  }

  .lightcolor {
    color: #73879c;
  }

  .secdiv {
    height: 600px;
    background-color: #f2f5f7;
  }
  .htext {
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: #fff;
  }
  .htextp {
    top:55%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    position: absolute;
    color: #fff;
    font-size: 20px;
  }
</style>

<div style="position:relative">
  <h2 class="htext">MADE FOR DESIGNER<h2>
    <P class="htextp"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</P>

  <img src="img/bg.jpg" class="img-responsive position-relative" alt="Responsive image">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center topmargin maincolor">
      <h2>Beautiful. Clean. Responsive.</h2>
    </div>
    <div class="col-md-6 col-md-offset-3 text-center lightcolor btmmargin">
      <p>REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.</p>
    </div>
  </div>
  <div class="row btmmargin">
    <div class="col-md-4">
      <h4 class="maincolor">Passion</h4>
      <p>REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.</p>
    </div>
    <div class="col-md-4">
      <h4 class="maincolor">Passion</h4>
      <p>REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.</p>
    </div>
    <div class="col-md-4">
      <h4 class="maincolor">Passion</h4>
      <p>REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.</p>
    </div>
  </div>

  <div class="secdiv">
    <h2 class="col-md-12 text-center topmargin maincolor">Check out our latest works</h2>
    <p class="col-md-6 col-md-offset-3 text-center lightcolor btmmargin">Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.</p>

    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <div>
          <img src="img/1st.jpg" class="img-responsive">
        </div>
      </div>

      <div class="col-md-3">
        <div>
          <img src="img/1st.jpg" class="img-responsive">
      </div>
      </div>
    </div>

    <div class="col-md-2 topmargin col-md-offset-2">
      <div>
        <img src="img/1st.jpg" class="img-responsive">
      </div>
    </div>

    <div class="col-md-2 topmargin col-md-offset-">
      <div>
        <img src="img/1st.jpg" class="img-responsive">
    </div>
    </div>

    <div class="col-md-2 topmargin col-md-offset-">
      <div>
        <img src="img/1st.jpg" class="img-responsive">
    </div>
    </div>

    <div class="col-md-2 topmargin col-md-offset-">
      <div>
        <img src="img/1st.jpg" class="img-responsive">
    </div>
    </div>
  </div>

<div class="row">

  <h2 class="col-md-12 text-center maincolor">Want to work with us..?</h2>
  <p class="col-md-6 col-md-offset-3 text-center lightcolor btmmargin">Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.</p>
</div>
<div class="text-center">
<button type="button" class="btn btn-success">GET IN TOUCH</button></div>
</div><!--end container-->


</div><!--end main container-->
